#Локальное хранилище данных IDEA
.idea/

# Данные что генерят таски Maven, скомпиленные классы, сгенеренный код, резкльтаты тестов и подобное.
target/

#Игнорируем данные Аллюра
allure-results/
/.allure/

#Файл проекта IDEA. Игнорируем, т.к. генерится из pom.xml
*.iml

#Дамп данных при ошибках JVM. На всякий случай.
hs_err_pid*

debug.log